.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  /* width: 1080px; */
  margin: 0 auto;
  padding: 8rem 20px 40px;

  background-color: #ecebe4;
  position: relative;
  box-sizing: border-box;
}

.logo {
  width: 300px;
  height: auto;
  margin: 2rem auto 4rem;
}

.content {
  width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.title {
  font-family: "Callebaut", sans-serif;
  font-size: 68px;
  color: #4a2222;
  text-align: center;
  font-weight: bold;
  margin: 0;
  margin-bottom: 6rem;
  margin-top: 19rem;
  letter-spacing: 1px;
}

.optionsContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.option {
  font-family: "Callebaut", sans-serif;
  width: 300px;
  height: 300px;
  background-color: #dcdbd1;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 1.938rem;
  margin-right: 1.938rem;
  gap: 20px;
  padding: 40px;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.option:hover {
  transform: scale(1.05);
}

.option.selected {
  background-color: #ffcf6e;
}

.optionIcon {
  width: 120px;
  height: 120px;
}

.optionText {
  font-family: "Callebaut", sans-serif;
  font-size: 32px;
  color: #4a2222;
  text-align: center;
  margin: 0;
}

.nextButton {
  background-color: #dcdbd1;
  color: white;
  border: none;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  padding: 1.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6.5rem;
  margin-bottom: 3rem;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.nextButton:hover:not(:disabled) {
  background-color: #ffcf6e;
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
}

.nextButton:disabled {
  background-color: #dcdbd1;
  cursor: not-allowed;
  transform: none;
  opacity: 0.8;
}

.nextIcon {
  width: 32px;
  height: 32px;
}

@media (max-width: 768px) {
  .container {
    padding: 2rem 1.5rem;
  }

  .logo {
    width: 140px;
    margin: 1rem auto 2rem;
  }

  .title {
    font-size: 2rem;
    margin: 1.5rem 0 3rem;
  }

  .optionsContainer {
    flex-direction: column;
    gap: 4rem;
    margin: 1rem 0 4rem;
    padding: 0 1rem;
  }

  .option {
    font-family: "Callebaut", sans-serif;
    width: 200px;
    height: 200px;
  }

  .optionIcon {
    font-family: "Callebaut", sans-serif;
    width: 64px;
    height: 64px;
    margin-bottom: 1.5rem;
  }

  .optionText {
    font-family: "Callebaut", sans-serif;
    font-size: 1.5rem;
  }

  .nextButton {
    width: 70px;
    height: 70px;
    padding: 1.3rem;
    margin-bottom: 2rem;
  }

  .nextIcon {
    width: 28px;
    height: 28px;
  }
}
