.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* width: 1080px; */
  margin: 0 auto;
  background-color: #ecebe4;
  position: relative;
  box-sizing: border-box;
}

.backButton {
  position: absolute;
  top: 8rem;
  left: 40px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.homeButton {
  position: absolute;
  top: 8rem;
  right: 40px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.backIcon,
.homeIcon {
  width: 52px;
  height: 52px;
}

.logo {
  width: 300px;
  height: auto;
  margin: -34rem auto 25rem;
}

.title {
  font-size: 68px;
  color: #4a2222;
  text-align: center;
  font-weight: bold;
  margin: 0;
  letter-spacing: 1px;
}

.subtitle {
  font-size: 52px;
  color: #4a2222;
  text-align: center;
  margin: 20px 0 40px;
  font-weight: normal;
  letter-spacing: 3px;
}

.qrCodeContainer {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
}

.qrCode {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.callToAction {
  font-size: 24px;
  color: #4a2222;
  text-align: center;
  margin-top: 20px;
  font-weight: 500;
}

.videoContainer {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  background-color: #dcdbd1;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 2rem 1.5rem;
  }

  .logo {
    width: 140px;
    margin: 1rem auto 2rem;
  }

  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1.5rem;
    margin: 1rem 0 2rem;
  }

  .qrCodeContainer {
    padding: 20px;
  }

  .qrCode {
    width: 200px;
    height: 200px;
  }

  .callToAction {
    font-size: 18px;
    margin-top: 16px;
  }

  .backButton,
  .homeButton {
    top: 20px;
  }

  .backButton {
    left: 20px;
  }

  .homeButton {
    right: 20px;
  }

  .backIcon,
  .homeIcon {
    width: 30px;
    height: 30px;
  }
}
